<form [formGroup]="userForm" class="form-container" (ngSubmit)="onSubmit()">
  <div class="form-title">Register</div>
  <input
    formControlName="username"
    class="form-input"
    type="text"
    name="user"
    placeholder="Enter username"
  />
  <input
    formControlName="email"
    class="form-input"
    type="email"
    name="email"
    placeholder="Enter email"
  />
  <input
    formControlName="password"
    class="form-input"
    type="password"
    name="password"
    placeholder="Enter password"
  />

  <button
    class="form-button form-button-primary"
    [disabled]="userForm.invalid"
    type="submit"
  >
    Submit
  </button>
  <button
    class="form-button form-button-secondary"
    (click)="onReset()"
    type="submit"
  >
    Reset
  </button>
</form>
