.user-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

.user-item {
  background-color: black;
  color: white;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #bee5eb;
}
