.show-tips-btn {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.show-tips-btn:disabled {
  background-color: gray;
  cursor: no-drop;
}

.show-tips-btn:not(:disabled):hover {
  background-color: #1d4ed8;
}
