.example-container {
  position: absolute;
  top: 66px;
  height: calc(100% - 66px);
  width: 250px !important;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.2rem;
  font-weight: 600;
  width: 50%;
  background-color: transparent !important;
}
.tool-tip {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.example-events {
  width: 250px !important;
  padding: 5px 25px;
  height: 100%;
  background-color: rgb(50, 141, 226);

  color: white;
}
.example-events div {
  padding-top: 20px;
}

.side-bar-content {
  margin: 0 !important;
  height: 0 !important;
  width: 0 !important;
}
