<form class="form-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h1>Add New Product</h1>

  <input
    formControlName="name"
    type="text"
    placeholder="Enter product name"
    class="form-input"
  />
  @if(userForm.controls['name'].dirty || userForm.controls['name'].touched){
  @if(userForm.get('name')?.errors?.['required']){
  <div class="error">name is required</div>
  } @else if(userForm.get('name')?.errors?.['minlength']){
  <div class="error">Name should be minimum 5 characters</div>
  } }

  <input
    formControlName="email"
    type="email"
    placeholder="Enter email"
    class="form-input"
  />
  @if(userForm.controls['email'].dirty || userForm.controls['email'].touched){
  @if(userForm.get('email')?.errors?.['required']){
  <div class="error">Email is required</div>
  } @else if(userForm.get('email')?.errors?.['email']){
  <div class="error">email is not valid!</div>
  }}

  <button [disabled]="userForm.invalid" type="submit" class="btn-primary">
    Login
  </button>
</form>
