<form class="form-container" [formGroup]="ReactiveForm" (ngSubmit)="onSubmit()">
  <h1>Password Validator</h1>
  <input
    type="password"
    name="password"
    class="form-input"
    formControlName="password"
    placeholder="enter password..."
  />
  <input
    class="form-input"
    type="password"
    formControlName="confirmPassword"
    name="confirm-password"
    placeholder="enter confirm password.."
  />
  @if((ReactiveForm.controls['password'].dirty ||
  ReactiveForm.controls['password'].touched) &&
  (ReactiveForm.controls['confirmPassword'].dirty ||
  ReactiveForm.controls['confirmPassword'].touched)){
  <div class="error" *ngIf="ReactiveForm.errors?.['matchError']">
    Confirm Password and password are not same or empty
  </div>
  }

  <button type="submit" [disabled]="ReactiveForm.invalid">Submit</button>
</form>
