<form class="form-container" [formGroup]="ReactiveForm" (ngSubmit)="onSubmit()">
  <h1 class="form-title">Password Validator</h1>

  <div class="input-group">
    <input
      type="password"
      name="password"
      class="form-input password-input"
      formControlName="password"
      placeholder="Enter password..."
    />
  </div>

  <div class="input-group">
    <input
      class="form-input confirm-password-input"
      type="password"
      formControlName="confirmPassword"
      name="confirm-password"
      placeholder="Enter confirm password..."
    />
  </div>

  <div class="error-container">
    @if((ReactiveForm.controls['password'].dirty ||
    ReactiveForm.controls['password'].touched) &&
    (ReactiveForm.controls['confirmPassword'].dirty ||
    ReactiveForm.controls['confirmPassword'].touched)){
    <div
      class="error password-mismatch-error"
      *ngIf="ReactiveForm.errors?.['matchError']"
    >
      Confirm Password and password are not same or empty
    </div>
    }
  </div>

  <button type="submit" class="submit-button" [disabled]="ReactiveForm.invalid">
    Submit
  </button>
</form>
