<form [formGroup]="userForm" class="form-container" (ngSubmit)="onSubmit()">
  <div>Register</div>
  <input
    formControlName="username"
    class="form-input"
    type="text"
    name="user"
    placeholder="Enter username"
  />
  <input
    formControlName="email"
    class="form-input"
    type="email"
    name="email"
    placeholder="Enter email"
  />
  <input
    formControlName="password"
    class="form-input"
    type="password"
    name="password"
    placeholder="Enter password"
  />

  <button [disabled]="userForm.invalid" type="submit">Submit</button>
  <button (click)="onReset()" type="submit">Reset</button>
</form>
