<form
  class="form-container"
  [formGroup]="preferredTheme"
  (ngSubmit)="onSubmit()"
>
  <h1>Theme Toggler</h1>

  <select class="form-select" formControlName="theme">
    <option value="">--select--</option>
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>

  <button
    class="btn-primary"
    [disabled]="preferredTheme.invalid"
    type="submit"
    class="btn-primary"
  >
    Submit
  </button>
  <button class="btn-danger" (click)="clearTheme()" type="button">
    clear Theme
  </button>
</form>
